.sidebarnav{
    
    flex-direction: column;
    background-color: #202225;
    min-width: 75px;
    height: 100vh;
    padding: 12px 0 0;
    font-family: Helvetica,Arial,sans-serif;
    left: 0;
    
}