.whole-splash{
    background-color: rgb(70, 55, 167);
}

.top-part{
    font-family: Helvetica,Arial,sans-serif;
    text-decoration: none;
    text-align: center;
    line-height: 140%;
    font-weight: 600;
    a{
        margin: 10px;
        padding: 10px;
        cursor: pointer;
        text-decoration: none;
        color: white;
    }

    a:hover{
        text-decoration: underline;
    }
}
.login_button{
    background-color: white;
    color:black;
    font-weight: 500;
    font-size: 14px;
    border-radius: 40px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    padding: 7px 16px;
    font-family: sans-serif;
    border:none;
    text-decoration: none;


}

.logout_button{
    background-color: white;
    color:black;
    font-weight: 500;
    font-size: 14px;
    border-radius: 40px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    padding: 7px 16px;
    font-family: sans-serif;
    border:none;
    text-decoration: none;

}

.login_button:hover{
    transition-property: background-color,box-shadow,color;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    background-color: white;
    box-shadow: 0 2px 2px grey;
    color: #7289da;
    text-decoration: none;
}
.logout_button:hover{
    transition-property: background-color,box-shadow,color;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    background-color: white;
    box-shadow: 0 2px 2px grey;
    color: #7289da;
    text-decoration: none;
 
}


.splash-midsection{
    display: grid;
    padding: 120px 40px;
    
        .blurb{
            margin-bottom: 8px;
            .headblurb{
                font-size: 56px;
                font-weight: 1000;
                line-height: 120%;
                font-family:  'Catamaran',Arial,sans-serif;
                display: block;
                text-align: center;
            }

            .blurb2{
                display: block;
                text-align: center;
                font-family: 'Catamaran',Arial,sans-serif;;
                margin: 40px;
                font-size: 20px;
                line-height: 32px;
                flex-direction: column;
            }
        }

        .button-div{
            justify-content: center;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            
            .splash-browser{
                background-color: black;
                color: white;
                padding: 18px 32px;
                margin-top: 24px;
                text-decoration: none;
                font-size: 19px;
                font-family: 'Catamaran',Arial,sans-serif;;
                display: flex;
                justify-content: space-between;
                border-radius: 40px;
                cursor: pointer;
                border:none;

            }

            .splash-browser:hover{
                transition-property: background-color,box-shadow;
                transition-duration: .2s;
                transition-timing-function: ease-in-out;
                background-color: #36393f;
                box-shadow: 0 8px 15px grey;
            }


            .splash-git{
                background-color: white;
                color: black;
                margin-top: 24px;
                margin-right: 24px;
                padding: 18px 32px;
                text-decoration: none;
                font-size: 19px;
                font-family: Helvetica,Arial,sans-serif;;
                display: flex;
                justify-content: space-between;
                border-radius: 40px;
                cursor: pointer;
                border: none;
            
                
            }

            .splash-git:hover{
                transition-property: background-color,box-shadow,color;
                transition-duration: .2s;
                transition-timing-function: ease-in-out;
                background-color: white;
                box-shadow: 0 8px 15px grey;
                color: #7289da;
            }

        }
}

