.channel-title{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #2f3136;
    border-bottom: 5px #202225;
    font-family: 'Catamaran',Arial,sans-serif;
    color: white;
    margin: 0;
 
    width: 250px;
};

.channel-sidebar-nav{
    background-color: #2f3136;
}

.channel-listing{
    display: flex;
    font-size: 16px;
    color: gray;
    font-family: 'Catamaran',Arial,sans-serif;
    font-weight: 500;
   cursor: pointer;
    width: 250px;
    align-items: center;
};

.channel-listing:hover{
    background-color: #51545c;
    color: white;
}

